.container {
    width: 100%;
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    color: #242424;
    font-weight: bold;
}

.container p {
    color: #7c7c7c;
    font-size: 14px;
    display: flex;
    text-align-last: center;
    margin: 1em;
}

.sub_container {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    width: 300px;
    height: 61px;
    margin: 1em;
    border: 0px;
    color: #fff;
    border-radius: 10px;
    background: #009DFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}