/** Navbars */
.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #D6EFFF;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

.navbar img {
    height: 50px;
}

/** Items */
.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.btn {
    width: 8em;
    height: 2.5em;
    border: 0px;
    color: #fff;
    border-radius: 7px;
    background: #009DFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}