/** Navbars */
.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #D6EFFF;
    padding: 1em;
    padding-left: 4em;
    padding-right: 4em;
}

.navbar img {
    height: 50px;
}


.item {
    margin-right: 1em;
}

.btn {
    width: 8em;
    border: 0px;
    color: #fff;
    border-radius: 7px;
    background: #009DFF;
    text-decoration: none;
}