.cadastro_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 4em;
}

.cadastro_container h1 {
    color: #2f2f2f;
    margin: 0 auto;
    font-weight: 600;
    padding-top: 1em;
    padding-bottom: 0.4em;
}

.cadastro_container p {
    color: #797979;
    font-weight: 400;
    padding-bottom: 3em;
}

.form {
    width: 600px;
}

.form div {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
}

.form label {
    color: #2f2f2f;
    font-weight: 600;
    padding-bottom: 1ch;
}

.form input, textarea {
    height: 3em;
    padding: 15px;
    border-radius: 7px;
    border: 1px #2f2f2f solid;
}

.form input:focus, textarea:focus{
    outline: 2px solid #009DFF;
}

.form textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    resize: vertical;
    max-height: 200px;
    min-height: 100px;
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_cadastrar {
    width: 240px;
    height: 50px;
    margin: 0.5em;
    border: 0px;
    color: #fff;
    border-radius: 10px;
    background: #009DFF;
    text-decoration: none;
    align-content: center;
}

.btn_excluir {
    width: 150px;
    height: 50px;
    margin: 0.5em;
    border: 0px;
    color: #fff;
    border-radius: 10px;
    background: #ff0000;
    text-decoration: none;
}

.btn_editar {
    width: 150px;
    height: 50px;
    margin: 0.5em;
    border: 0px;
    color: #fff;
    border-radius: 10px;
    background: #009DFF;
    text-decoration: none;
}

.btn_cancelar {
    width: 150px;
    height: 50px;
    margin: 0.5em;
    border: 0px;
    color: #fff;
    border-radius: 10px;
    background: #5a5a5a;
    text-decoration: none;
}

@media (max-width: 600px) {
    .form {
        width: 450px;
    }
}

@media (max-width: 500px) {
    .form {
        width: 350px;
    }
}
